.blog-intro {
    align-self: flex-start;
    width: 100%;
    margin-bottom: 20px;
}
.blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 90%;
}
.post {
    border-left: 4px solid #4c4c63;
    padding-left: 15px;
    min-width: 40%;
}
a {
    color: white;
    text-decoration-thickness: 1px;
}