html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #23232e;
}
body {
    padding-top: 150px;
}
header {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 36);
    border-bottom: 1px solid #fefcff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.nav-container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
}
.site-title {
    font-size: 24px;
    color: #70b1ca;
    vertical-align: center;
}
.navlinks {
    width: 70%;
    justify-content: right;
    grid-template-columns: repeat(auto-fit, 70px);
    display: grid;
    gap: 30px;
    color: gray
}
.navlinks a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(218, 218, 218);
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1000px;
}
.about-me-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 100px;
}
.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-text {
    display: flex;
    color: #70b1ca;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: center;
}
.profile-text h3 {
    color: gray;
    margin-top: 0;
    
}
.about-me {
    max-width: 80%;
    display: flex;
    flex-direction: column;
}
.bio {
    width: 100%;
}
.section-title {
    font-weight: 100;
    font-size: 35px;
    color: #70b1ca;
    margin: 0;
}
.ed-in {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: grid;
    grid-template-columns: minmax(100px, 0.3fr) minmax(100px, 0.7fr);
    gap: 30px;
}
.education {
    padding-left: 25px;
    border-left: 2px solid rgb(187, 187, 187);
}
.interests {
    padding-right: 20px;
}

.section-intro {
    align-self: flex-start;
    width: 100%;
    margin-bottom: 20px;
}
.section-intro p {
    margin-left: 280px;
}
.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    width: 90%;
    margin-bottom: 40px;
    margin-left: 480px;
}
.post {
    padding-left: 15px;
}
a {
    color: white;
    text-decoration-thickness: 1px;
}
.academic-post {
    border-left: 3px solid #77c588
}
.project-post {
    border-left: 3px solid #b458a5
}
.blog-post {
    border-left: 3px solid #6b6fa5
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
    border-top: 1px solid #ccc;
    padding: 10px 0px 20px 0px;
}
footer img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}