html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #23232e;
}
header {
    display: flex;
    width: 100%;
    height: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 70px;
    justify-content: center;
    align-items: center;
    background-color: rgb(75, 75, 75);
    border-bottom: 1px solid #fefcff;
}
.nav-container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
}
.site-title {
    font-size: 30px;
    color: rgb(218, 218, 218);
    vertical-align: center;
}
.navlinks {
    color: gray
}
.navlinks a {
    text-decoration: none;
    color: rgb(218, 218, 218);
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1000px;
}
.about-me-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}
.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: center;
}
.profile-text h3 {
    color: gray;
    margin-top: 0;
    
}
.about-me {
    max-width: 80%;
    display: flex;
    flex-direction: column;
}
.bio {
    width: 100%;
}
.ed-in {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    width: 90%;
}

.academic-intro {
    align-self: flex-start;
    width: 100%;
    margin-bottom: 20px;
}
.projects-intro {
    align-self: flex-start;
    width: 100%;
    margin-bottom: 20px;
}
.blog-intro {
    align-self: flex-start;
    width: 100%;
    margin-bottom: 20px;
}
.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    width: 90%;
    margin-bottom: 40px;
}
.post {
    padding-left: 15px;
}
a {
    color: white;
    text-decoration-thickness: 1px;
}
.academic-post {
    border-left: 3px solid #77c588
}
.project-post {
    border-left: 3px solid #b458a5
}
.blog-post {
    border-left: 3px solid #6b6fa5
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
    border-top: 1px solid #ccc;
    padding: 10px 0px 20px 0px;
}
footer img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}